@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700|Pacifico');

* {
	font-family: 'Nunito';
	transition: all .2s;
}

body {
	margin: 0;
	background-color: rgb(245,245,245); 
}

.stop-scrolling {
  height: 100vh !important;
  overflow-y: hidden !important;
}

h1 {
	display: inline;
	margin: 0;
	font-size: 11vw;
	font-family: 'Pacifico';
	letter-spacing: .75rem;
	text-transform: capitalize;
	color: white;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

h2 {
	margin: auto;
	text-align: center;
	font-weight: 700;
	font-size: 9vw;
}

.blurred {
	filter: blur(8px);
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 2rem;
	background: linear-gradient(to bottom, rgb(0,230,119) 0%, rgb(105,240,175) 100%);
}

.navbar i {
	font-size: 10vw;
	color: white;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, .25);

}

.buttons {
	margin-top: 4rem;
}

.buttons .row {
	justify-content: center;
	margin: 0;
}

.menu-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-wrapper {
	width: 95vw;
	display: none;
}

.visible {
	display: block;
}

.menu {
	display: block;
	background-color: white;
	position: relative;
	border-radius: 2rem;
	padding: 3rem;
	max-height: 70vh;
	overflow: auto;
}

.menu h2 {
	font-size: 10vw;
}

.menu h3 {
    font-size: 7vw;
    margin-bottom: 1rem;
    margin-top: .5rem;
}

.menu .item-type {
	margin-bottom: 6rem;
}

.menu .item-type span {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu .item-type .item-name {
	display: block;
	text-align: left;
	font-size: 5.5vw;
	margin: 1rem 1rem;
	padding: 1rem 2rem;
	background: rgba(245,245,245 ,1);
	color: rgba(117,117,117 ,1);
	border: 4px solid rgba(238,238,238 ,1);
	border-radius: 2rem;
	cursor: pointer;
}

.menu .item-type .item-price {
	font-size: 4vw;
	font-weight: 300;
	float: right;
}

.menu .item-type .selected {
	background: radial-gradient(ellipse at center, rgba(0,230,119,1) 0%, rgba(0,200,83,1) 100%) !important;
	border-color: rgba(0,230,119,1) !important;
	color: white !important;
	font-weight: 700;
}

.selected .item-price {
	color: white;
	font-weight: 400;
}

.close-menu-button {
	font-size: 7vw;
	position: absolute;
	top: 2rem;
	right: 2rem;
	color: #f44236;
}

.total-price {
	font-size: 4.25vw;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	border-radius: 2rem;
	padding: 2rem;
	margin-top: 1rem;
}

.add-to-cart {
	background:	radial-gradient(ellipse at center, rgba(0,176,255 ,1) 0%, rgba(0,145,234 ,1) 100%);
	padding: 1.5rem 3.5rem;
	border-radius: 100vw;
	font-weight: 700;
	color: white;
	cursor: pointer;
}

.price {
	border: 4px solid rgba(238,238,238 ,1);
	border-radius: 100vw;
	background-color: rgba(245,245,245 ,1);
	color: rgba(97,97,97 ,1);
	padding: 1.5rem 2.5rem;
	font-weight: 700;
	cursor: default;
}

.dark {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, .5);
	z-index: 1;
}

.item-container {
	cursor: pointer;
	display: flex;
	justify-content: center;
	/*align-items: center;*/
}

.item {
	padding: 2rem;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 95%;
	margin-bottom: 3rem;
	border-radius: 2rem;
	background-color: white;
	box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.1);
}

.item img {
	width: 95%;
}

.item h2 {
	margin-top: 3rem;
	margin-bottom: 2rem;

}

.item span {
	font-size: 4.5vw;
}


/*bootstrap sm*/
@media (min-width: 574px){

}

/*bootstrap md*/
@media (min-width: 768px){

}

/*bootstrap lg*/
@media (min-width: 992px){
	h1 {
		font-size: 5.5vw;
	}

	.navbar i {
		font-size: 5vw;
	}

	h2 {
		font-size: 4.5vw;
	}

	.menu-wrapper {
		width: 80vw;
	}

	.close-menu-button {
		font-size: 3.5vw;
	}

	.menu h2 {
		font-size: 5vw;
	}

	.menu h3 {
		font-size: 3.5vw;
	}

	.menu div .item-name {
		font-size: 2.25vw !important;
	}

	.menu div .item-price {
		font-size: 2vw !important;
	}

	.total-price {
		font-size: 2.125vw !important;
	}

	.item span {
		font-size: 2.25vw;
	}
}

/*bootstrap xl*/
@media (min-width: 1200px){
	h1 {
		font-size: 3.666666vw;
	}

	.navbar i {
		font-size: 3.333333vw;
	}

	h2 {
		font-size: 3vw;
	}

	.menu-wrapper {
		width: 65vw;
	}

	.close-menu-button {
		font-size: 2.333333vw;
	}

	.menu h2 {
		font-size: 3.333333vw;
	}

	.menu h3 {
		font-size: 3.5vw;
	}

	.menu div .item-name {
		font-size: 1.833333vw !important;
	}

	.menu div .item-price {
		font-size: 1.333333vw !important;
	}
   
	.total-price {
		font-size: 3.5vw
	}
	
	.total-price {
		font-size: 1.416666vw !important;
	}

	.item span {
		font-size: 1.833333vw;
	}
}
